body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.nav {
    display: grid;
    grid-template-columns: 8rem 1fr 2fr 1fr 8rem;
    /* grid-template-rows: 1fr;
    justify-content: space-between; */
    justify-content: space-between;

}
.left{
    display: grid;
    grid-column: 2/3;
}

.icons{
    height: 30px;
    width: 30px;
}
.mid{
    display: grid;
    grid-column: 3/4;
    
   
}
.link{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: center;
}
.tag {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
}
.right{
    grid-column: 4/5;
    display: grid;
    align-items: center;
}
.social-media{
    display: grid;
    grid-template-columns: 3fr repeat(3,1fr);
    align-items: center;
}

.instagram{
    /* grid-row: 2/3; */
    grid-column: 2/3;
}
.icons{
    color: #fff;
    font-size: 30px;
}
.menu{
    display: none;
}

@media (max-width:60rem){
    .menu{
        display: block;
        grid-column: 2/3;
        
    }
    .menufries{
        color: #fff;
        font-size: 30px;
    }
    .link{
        display: none;
    }
    .social-media{
        display: none;
    }
    .nav{
        grid-template-columns: 1fr 1fr;
    }
    .left{
        grid-column: 1/2;
    }
    
}