body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.nav {
    display: flex;
    justify-content: space-between;

}
.logo{
    height: 50px;
    width: 50px;
}
.icons{
    height: 30px;
    width: 30px;
}
.items{
    display: flex;
    gap: 20px;
    padding: 20px;
    
}
.link{
    color: #FFAC41;
    font-size: 22px;
    text-decoration: none;
}
.navbarButton{
    display: none;
}

@media (max-width:60rem){
    .navbarButton{
        display: block;
    }
    .link{
        display: none;
    }
}