.moviename{
    color: aliceblue;
}
.poster{
    position : relative;
}
.posterimage{
    width: 100%;
    
    
}
.carousel .slide img{
    height: 450px;
}
.detail{
    position: absolute;
    z-index: 10;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    text-align: left;
    color: aliceblue;
    margin-left: 50PX;
    margin-right: 50px;
    
}
.title{
    font-size: 70px;
    color: #FFAC41;
}
.releasedate{
    font-size: 30px;
}
.description{
    font-size: 20px;
}
@media (max-width:60rem){
    body{
        overflow-x: hidden;
    }
}